body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
  }
  
  #widget {
    width: 600px;
    margin: 0 auto;
  }
  
  p {
    text-align: center;
  }
  
  /* Collapse */
  
  .collapse-container {
    margin: 10px 20px;
    padding: 20px;
    background-color: #eaf3ed;
  }
  
  .btn-collapse {
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 12px;
    outline: none;
    border: none;
  }
  
  .btn-collapse:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .text-container {
    opacity: 0;
    max-height: 0;
    margin-top: 20px;
    line-height: 24px;
    text-align: left;
    transition: opacity 0.5s, max-height 0.5s;
  }
  
  .text-container.show {
    opacity: 1;
    max-height: 200px;
    
  }
  
  .text-collapse {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .copy {
    width: 50px;
    margin-left: auto;
    opacity: 50%;
  }